#root{
    // display: none;
    display: block; //for dev
    .sidebar{
        position: fixed;
        left: 32px;
        top: 32px;
        width: 96px;
        height: 890px;
        background: #161D2F;
        border-radius: 20px;
        &-icon-user{
            position: absolute;
            bottom: 5%;
            left: calc(50% - 60px/2);
            display: flex;
            align-items: center;
            justify-content: center;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            border: 2px solid gray;
            &:hover{
                border-color: #FC4747;
                cursor: pointer;
            }
            & svg{
                width: 40px;
                height: 40px;
            }
        }
        &-items{
            .movieIcon{
                top: 40.41px;
            }
            &-icons{
                display: flex;
                flex-direction: column;
                position: absolute;
                left: 50%;
                top: 18%;
                transform: translate(-50%, 0); 
                & svg{
                    cursor: pointer;
                    width: 20px;
                    height: 20px;
                    &:hover path{
                        fill: #FC4747;
                    }
                }
                & svg:not(:last-child){
                    margin-bottom: 40px;
                }
            }
        }
    }
    .content{
        position: absolute;
        top: 61px;
        left: 196px;
        width: 85vw;
        height: 100%;
        & img{
            position: absolute;
            right: 20px;
        }
        &-search{
            width: 100%;
            &:before{
                content: '';
                position: absolute;
                width: 32px;
                height: 32px;
                background: url('../../img/loupe.svg') 0 100% no-repeat;
            }  
            & input{  
                caret-color: #FC4747;
                width: 100%;
                height: 47px;
                font-size: 24px;
                color: #FFFFFF;
                mix-blend-mode: normal;
                background-color: #10141E;
                padding-bottom: 15px;
                padding-left: 56px;
                &:hover{
                    border-bottom: 2px solid #5A698F;
                    cursor: pointer;
                } 
                &::placeholder{
                    opacity: 0.5;
                }
            }
        }
        & #mainContent{
            width: 100%;
            height: 100%;
            & .page{
                &-content{
                    & h1{
                        color: #FFFFFF;
                        font-size: 32px;
                        line-height: 40px;
                        letter-spacing: -0.5px;
                        margin: 34px 0 25px 0;
                        &::first-letter{
                            text-transform: uppercase;
                        }
                    }
                    .items{
                        &--trending{
                            display: grid;
                            grid-template: repeat(1, 230px) / repeat(5, 470px);
                            overflow: hidden;
                            column-gap: 40px;
                            .items-content{
                                position: relative;
                            }
                            .items-item{
                                width: 100%;
                                height: 100%;
                            }
                            .items-description{
                                padding: 24px;
                                display: flex;
                                flex-direction: column;
                                align-items: end;
                                justify-content: space-between;
                                position: absolute;
                                bottom: 0;
                                left: 0;
                                width: 100%;
                                height: 100px;
                                color: #FFFFFF;
                                &__yearCategoryAge{
                                    display: flex;
                                    justify-content: space-between;
                                    height: 19px;
                                    opacity: 0.75;
                                    font-size: 15px;
                                    mix-blend-mode: normal;
                                    width: 150px;
                                    span{
                                        height: 100%;
                                        display: flex;
                                        align-items: center;
                                    }
                                    img{
                                        position: inherit;
                                        width: 12px;
                                        height: 12px;
                                        margin-right: 5px;
                                    }
                                }
                                &__title{
                                    width: 150px;
                                    font-size: 24px;
                                    & span{
                                        font-family: 'Outfit-Medium';
                                    }
                                }
                            }    
                        }
                        &--recommended, &--movies, &--TVseries, &--bookmarked{
                            display: flex;
                            flex-wrap: wrap;
                            color: #FFFFFF;
                            .items-content{
                                position: relative;
                                width: 280px;
                                height: 226px;
                                margin-bottom: 32px;
                            }
                            .items-item{
                                width: 280px;
                                height: 174px;
                            }
                            .items-description{
                                display: flex;
                                flex-direction: column;
                                justify-content: space-evenly;
                                margin-top: 8px;
                                width: 100%;
                                height: 44px;
                                &__yearCategoryAge{
                                    opacity: 0.75;
                                    height: 16px;
                                    img{
                                        position: inherit;
                                        width: 12px;
                                        height: 12px;
                                        margin-right: 3px;
                                    }
                                }
                                &__title{
                                    font-size: 17px;
                                    & span{
                                        font-family: 'Outfit-Medium';
                                    }
                                }
                            }
                        }
                        &--recommended, &--movies, &--TVseries {
                            justify-content: space-between;
                        }
                        &--bookmarked .items-content:not(:nth-child(5n+5)){
                            margin-right: 40px;
                        }
                        &-item{
                            position: relative;
                            border-radius: 8px;
                            &__bookmarked{
                                position: absolute;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                top: 16px;
                                right: 16px;
                                border-radius: 50%;
                                width: 32px;
                                height: 32px;
                                background:rgba(16, 20, 30, 0.5);
                                mix-blend-mode: normal;
                                cursor: pointer;
                                &--active, &:hover{
                                    background-color: #FFFFFF;
                                }
                                &--active svg, &:hover svg{
                                  fill: #FFFFFF;
                                  & path{
                                      stroke: #10141E;
                                  }
                                }
                            }
                        }           
                    }
                }
            }
        }
    } 
}  