#root{
    display: block; //go no
    .sidebar{
        position: fixed;
        left: 32px;
        top: 32px;
        width: 96px;
        height: 890px;
        background: #161D2F;
        border-radius: 20px;
        &-items{
            .movieIcon{
                top: 40.41px;
            }
            &-icons{
                position: absolute;
                left: 50%;
                top: 18%;
                transform: translate(-50%, 0);
                &__item{
                    width: 20px;
                    height: 20px;
                    margin-bottom: 40px;
                    & img{
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
    .content{
        position: absolute;
        top: 32px;
        left: 164px;
        width: 88vw;
        & img{
            position: absolute;
            right: 20px;
        }
        &-search{
            width: 100%;
            &:before{
                content: 'x';
                position: absolute;
                font-size: 30px;
                padding-right: 10px;
                width: 30px;
                height: 30px;
                color: burlywood;
            }  
            & input{  
                caret-color: #FC4747;
                width: 100%;
                height: 47px;
                font-size: 24px;
                color: #FFFFFF;
                mix-blend-mode: normal;
                background-color: #10141E;
                padding-bottom: 15px;
                padding-left: 40px;
                &:hover{
                    border-bottom: 2px solid #5A698F;
                    cursor: pointer;
                } 
                &::placeholder{
                    opacity: 0.5;
                }
            }
        }     
    }
}  