#root{
    display: block; //go no
    .sidebar{
        position: fixed;
        left: 32px;
        top: 32px;
        width: 96px;
        height: 890px;
        background: #161D2F;
        border-radius: 20px;
        &-items{
            &-icons{
                position: absolute;
                left: 50%;
                top: 22%;
                transform: translate(-50%, 0);
                &__item{
                    width: 20px;
                    height: 20px;
                    margin-bottom: 40px;
                    & img{
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
    .content{
        position: absolute;
        top: 32px;
        left: 164px;
        width: 88vw;
        &-search{
            width: 100%;  
            & input{  
                caret-color: #FC4747;
                width: 100%;
                height: 32px;
                font-size: 24px;
                color: #FFFFFF;
                mix-blend-mode: normal;
                background-color: #10141E;
                &::placeholder{
                    opacity: 0.5;
                }
            }
        }     
    }
}  