@font-face {
	font-family: 
                   Outfit;
	font-display: swap;
	src: 
              url("../fonts/Outfit-Light.woff2") format("woff2"), 
              url("../fonts/Outfit-Light.woff") format("woff");
	font-weight: 
              300;
	font-style: normal;
}
