@font-face {
	font-family: 
                   Outfit-Light;
	font-display: swap;
	src: 
              url("../fonts/Outfit-Light.woff2") format("woff2"), 
              url("../fonts/Outfit-Light.woff") format("woff");
	font-weight: 
              300;
	font-style: normal;
}
@font-face {
	font-family: 
                   Outfit-Medium;
	font-display: swap;
	src: 
              url("../fonts/Outfit-Medium.woff2") format("woff2"), 
              url("../fonts/Outfit-Medium.woff") format("woff");
	font-weight: 
              500;
	font-style: normal;
}
