body {
    background-color: black;
    span{
        color: red;
    }
    // background-image: url('@img/up5.png');
}

@media (max-width: 650px) {
    span{
        font-size: x-small;
    }
}


@media (max-width: 650px) {
    body{
        font-family: serif;
    }
}